body {
	color: #eeeeee;
	background-color: #1e1f21;
	font-family: serif;
}

video {
	width: 100%;
	max-width: 400px;
	background: #000;
	display: block;
}

code {
	font-family: monospace;
}

a {
	color: #eeeeee;
}

